<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.efm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/foodsaver"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/foodsaver"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserOrdersRestView"></activity>
        <activity android:name=".ViewRest" />
        <activity android:name=".AfterUserLogin" />
        <activity android:name=".UserLogin" />
        <activity android:name=".UserRegister" />
        <activity android:name=".RestDisplay" />
        <activity android:name=".AfterRestLogin" />
        <activity android:name=".RestLogin" />
        <activity android:name=".FoodInsert" />
        <activity android:name=".displayData" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".RestRegister" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>